/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


.single-dogs .post-thumbnail {
    max-width: 250px;
    margin: 16px 0;
}

.single-dogs #rescue-main, .post-type-archive-dogs #rescue-main {
    padding-left: 5%;
    padding-right: 5%;
}

.single-dogs .entry-title {
    width: 100%;
}

.dogs-shortcode .card {
    max-width: 300px;
    border: none;
}

.dogs-shortcode .card .card-body {
    padding: 0;
}

.dogs-shortcode .card .card-body ul li {
    text-align: center;
    font-size: .9rem;
}